#!/bin/bash

#
# Import GPG keys
#

export GPG_TTY=$(tty)

echo "{{ (bitwarden "item" "gpg_public_key").notes }}" | gpg --import -
echo "{{ (bitwarden "item" "gpg_private_key").notes }}" | gpg --import -

#
# Change the default shell to Zsh
#

if [ "$SHELL" != "$(which zsh)" ]; then
  chsh -s $(which zsh)
fi

#
# Enable and start services
#

sudo systemctl enable --now grub-btrfsd
sudo systemctl enable --now cronie
sudo systemctl enable --now docker
sudo systemctl enable --now sysbox

#
# Disable Copy-on-Write on these directories
#

sudo chattr +C /var/log
sudo chattr +C /var/cache/pacman/pkg
sudo chattr +C /var/lib/docker

#
# Create home directories
#

xdg-user-dirs-update
xdg-user-dirs-update --force

mkdir -p $HOME/Projects

#
# Add the user to theses groups
#

sudo usermod -aG docker $USER
