#!/bin/sh

{{ if eq .chezmoi.os "linux" }}
packages=(
  # Applications:
  discord
  google-chrome
  spotify-launcher
  timeshift
  httpie-desktop-bin
  # Fonts:
  ttf-dejavu
  ttf-jetbrains-mono-nerd
  $(yay -Ssq adobe-source-han-sans)
  # Tools:
  git
  chezmoi
  bitwarden-cli
  asdf-vm
  openssh
  gnupg
  jq
  starship
  bat
  eza
  tokei
  zoxide
  neovim
  zsh
  man
  wezterm
  docker
  # Filesystem:
  grub-btrfs
  timeshift-autosnap
  # Other:
  tk
  fzf
  ripgrep
  zsh-syntax-highlighting
  zsh-autosuggestions
  cronie
  inotify-tools
)

yay -S --needed --noconfirm "${packages[@]}"
{{ else if eq .chezmoi.os "darwin" }}
# Install casks
casks=(
  discord
  google-chrome
  spotify
)

brew install --quiet --cask "${casks[@]}"

# Install formulae
formulae=(
  git
  chezmoi
  bitwarden-cli
  coreutils
  curl
  asdf
  openssh
  gnupg
  jq
  starship
  bat
  exa
  tokei
  zoxide
  neovim
  zsh
  man-db
  pfetch
  wezterm
  # Other:
  fzf
  zsh-syntax-highlighting
  zsh-autosuggestions
)

brew install --quiet "${formulae[@]}"
echo "=> Formulae have been installed."
{{ end }}

# Install Oh My Zsh:
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi
