/*
 * Clock
**/
.clock {
  padding: 2px 0;
  border-radius: $border-radius;
  transition: 0.15s ease-in-out;
}

.clock:hover {
  background-color: $secondary;
}

.clock-container {
  padding: 2px 8px 0 10px;
}

.clock-container label {
  font-weight: bold;
  font-size: 1.5rem;
}
