/*
 * Controllers
**/
.controllers {
  padding: 1px 8px 0;
  border-radius: $border-radius;
  background-color: $secondary;
}

.controllers * label {
  font-size: 1.5rem;
  padding: 0 5px;
}

/*
 * Volume Slider
**/
.volume-slider {
  padding: 0 3px 0 6px;
}

.volume-slider trough {
  min-width: 100px;
  border-radius: $border-radius;
  background-color: $drop-border;
}

.volume-slider highlight {
  background-color: white;
  border-radius: $border-radius;
}

.volume-slider slider {
  background-color: white;
  border-radius: $border-radius;
  min-width: 6px;
  min-height: 6px;
  background-image: none;
}
