/*
 * Context
**/
.ctx-container {
  background-color: $background;
  border-radius: $border-radius;
  padding: 16px;
  border: 1px solid $secondary;
}

/*
 * Containers
**/
.first-container {
  padding: 5px;
}

.second-container {
  padding: 5px;
}
