.controllers * {
  font-size: 1.35rem;
}

.controllers * label {
  padding: 0 3px;
}

.network-label {
  font-size: 1.2rem;
}

.volume-slider {
  padding: 0 3px 0 6px;
}

.volume-slider trough {
  min-width: 100px;
  background-color: $tertiary;
  border-radius: $border-radius;
}

.volume-slider highlight {
  background-color: $foreground;
  border-radius: $border-radius;
}

.volume-slider slider {
  background-color: $foreground;
  border-radius: $border-radius;
  min-height: 6px;
}

