/*
 * Time
**/
.time {
  background-color: $secondary;
  border-radius: $border-radius;
  padding: 20px;
}

.time label:first-child {
  font-size: 1.1rem;
  color: $foreground;
}

.time label:last-child {
  font-size: 1.75rem;
  font-weight: bold;
}
