.workspaces {
  padding: 0.65rem 0;
}

.workspace {
  border-radius: $border-radius;
  background-color: $slate-900;
  margin: 0 0.25rem;
  padding: 0 0.70rem;
  transition: 0.25s;
  color: $red-500;

  &.current {
    background-color: $red-500;
    color: $slate-900;
  }
}
