$border-radius: 5px;

* {
  all: unset;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'JetBrainsMono Nerd Font', monospace;
  color: $slate-100;
}

.icon {
  color: $blue-100;
}

.right {
  padding: 0 0.8rem;
}
