$border-radius: 5px;

* {
  all: unset;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'JetBrainsMono Nerd Font', monospace;
  color: $green-100;
}

.right {
  background-color: $green-950;
  border-radius: $border-radius;
  padding: 0 0.6rem;
}

.right > * {
  margin-top: 1px;
}
